<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Tasks Of Doom</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

  <div class="noise-overlay"></div>
  <div class="grid-overlay"></div>

  <main class="monitor-wrapper">
    <div class="monitor">
      <div class="screen">
        <div class="desktop">
          <div class="funnyrow">
            <a href="/taskone" class="icon">
              <img src="{{ url_for('static', filename='img/html_icon.png') }}" alt="Task 1">
              <span>Task_1.html</span>
            </a>
          </div>
          <div class="taskrow">
            <a href="/taskone" class="icon">
              <img src="{{ url_for('static', filename='img/html_icon.png') }}" alt="Task 1">
              <span>Task_1.html</span>
            </a>
            <a href="" class="icon">
              <img src="{{ url_for('static', filename='img/html_icon.png') }}" alt="Task 2">
              <span>Task_2.html</span>
            </a>
            <a href="" class="icon">
              <img src="{{ url_for('static', filename='img/html_icon.png') }}" alt="Task 3">
              <span>Task_3.html</span>
            </a>
          </div>

          <div class="taskbar">
            <div class="start">
              <img src="{{ url_for('static', filename='img/start_button.png') }}" alt="Start">
              <span><em><strong>Start</strong></em></span>
            </div>
            <div class="taskbar-time">12:34</div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>

